html {
  background: url('poster-big.jpg') no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	background-color: darkred;
	width: 510px;
	border-radius: 10px;
	text-align: center;

	margin-top: 2px;
	margin-bottom: 2px;
}
body {
	font-family: 'Permanent Marker', cursive;
	max-width: 510px;
  margin: auto;
}

.extraRow {
	height: 15px;
	line-height: 15px; 

	display: table-row;
	text-align: center;
	vertical-align: middle;
}

.mainRow {
	height: 60px;
	line-height: 60px; 

	display: table-row;
	text-align: center;
	vertical-align: middle;
}

.tileRowId{
	color: white;
	width: 15px; 
	height: 60px;
	line-height: 60px; 

	display: table-cell;
	text-align: center;
	vertical-align: middle;

	background-color: darkred;

}

.tile{
	width: 60px; 
	height: 60px;
	line-height: 60px; 

	display: table-cell;
	text-align: left;
	vertical-align: top;
}


.tileColId{
	color: whitesmoke;
	width: 60px; 
	height: 15px;
	line-height: 15px; 

	display: table-cell;
	text-align: center;
	vertical-align: middle;

	background-color: darkred;
}

.tileCorner{
	width: 15px; 
	height: 15px;
	line-height: 15px; 

	display: table-cell;
	vertical-align: middle;
	background-color: darkred;
}

.white{
	background-color: white;
}

.black{
	background-color: darkcyan;
}

.imageSVG{
	height: 55px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
}

.tableroWhite{
	color: whitesmoke;
	font-size: 20px;
	background-color: darkcyan;
	width: 510px;
	height: 30px;
	border-radius: 10px;

	display: inline-block;
	text-align: center;
	vertical-align: middle;

	margin-top: 0px;
	margin-bottom: 2px;
}

.tableroBlack{
	color: black;
	font-size: 20px;
	background-color: darkcyan;
	width: 510px;
	height: 30px;
	border-radius: 10px;

	display: inline-block;
	text-align: center;
	vertical-align: middle;

	margin-top: 0px;
	margin-bottom: 2px;
}


.gray{

	
}

.gray::before{

	content: "  ";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #BEC5A3;
	opacity: 0.8;

	position: absolute;
	margin: 5px;
}

/*-----------------------------------------------Modal classes-----------------------------------------------*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  height: 570px;
  max-height: 98%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parrafo {
	  display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding-left: 40px;
  	padding-right: 40px;
  	font-size: 25px;
}

.modal-header .title {
	color: #190061;
  font-size: 30px;
  font-weight: bold;
  padding: 3px 10px;
}


.leyenda{
	font-size: 30px;
	color: #190061;
}

.modal-body {
  padding: 3px 10px;  
}


#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


input[type="radio"]{
	display: none;
}

label{
	position: relative;
	color: #00A1AC;
	font-size: 20px;
	border: 2px solid #00A1AC;
	border-radius: 5px;
	padding: 5px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	width: 250px;
}

label:before{
	content: "";
	height: 30px;
	width: 30px;
	border: 3px solid #00A1AC;
	border-radius: 10%;
	margin-right: 20px;
}

input[type="radio"]:checked + label{
	background-color: #00A1AC;
	color: white;
}

input[type="radio"]:checked + label:before{
	height: 22px;
	width: 22px;
	border: 8px solid white;
	background-color: #00A1AC;
}

fieldset
{
  border: 3px solid #00A1AC;
  border-radius: 5%;
  width: 420px;
  max-width: 95%;
  height: 470px;

}

#aceptar{
	font-family: 'Permanent Marker', cursive;
	display:flex;
	align-items: center;
	justify-content: center;
	width: 340px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border:0.1em solid #00A1AC;
	margin:0 0.2em 0.2em 0;
	border-radius:10px;
	
	font-weight:300;
	color:#00A1AC;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.15s;
	background-color: #190061;
}

#aceptar:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
}
